/*
Forms

Markup:
<ol class="form">
	<li>
		<label for="input">Input</label>
		<input name="input" id="input" {$modifiers} />
	</li>
	<li>
		<label for="selectbox">Selectbox</label>
		<select id="selectbox" {$modifiers}>
			<option value="">Lorem ipsum</option>
			<option value="1">Dolor sit amet</option>
			<option value="2">Lorem ipsum</option>
		</select>
	</li>
	<li>
		<label for="textarea">Textarea</label>
		<textarea id="textarea" rows="5" cols="35" {$modifiers}></textarea>
	</li>
</ol>

disabled			- Disabled

Styleguide 8.0
*/

legend {
	margin: 0 0 1em;
}

label {
	font-weight: bold;
	cursor: pointer;
}

button,
input,
select,
textarea {
	padding: .5em;
	border: 1px solid #ccc;
	border-radius: 0;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); // remove inner shadow in iOS
	background-color: #fff;
	color: #000;
	font: 1em $font-stack; /* 16px/21px */
	vertical-align: baseline;

	&:hover {
		border-color: #999;
		outline: 0;
	}

	&:focus {
		border-color: #aaa;
		box-shadow: 0 0 3px rgba(0, 0, 0, .2);
		outline: 0;
	}

	&[disabled] {
		//border-color: #eee;
		background: #eee;
		color: #ccc;
		cursor: default;

		&:hover {
			border-color: #ccc;
		}
	}
}

select {
	cursor: pointer;
}

textarea {
	vertical-align: top;
	resize: vertical;
}

/*
Button

Markup:
<p>
	<button>Button</button>
	<input type="submit" value="Submit" />
	<input type="reset" value="Reset" />
</p>

Styleguide 8.1
*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	margin: 0 10px 0 0;
	padding: .5em 1.5em;
	background: #eee;
	font-weight: bold;

	&:hover,
	&:focus {
		background: lightblue;
	}
}

/*
Checkboxes

Markup:
<ol class="form-inline">
	<li>
		<input type="checkbox" id="checkbox-1">
		<label for="checkbox-1">Lorem ipsum dolor sit amet</label>
	</li>
	<li>
		<input type="checkbox" id="checkbox-2">
		<label for="checkbox-2">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet</label>
	</li>
	<li>
		<input type="checkbox" id="checkbox-3">
		<label for="checkbox-3">Ut enim ad minim veniam</label>
	</li>
	<li>
		<input type="checkbox" id="checkbox-4" disabled="disabled">
		<label for="checkbox-4">Example of a disabled checkbox</label>
	</li>
	<li>
		<input type="checkbox" id="checkbox-5">
		<label for="checkbox-5">Nisi ut aliquip</label>
	</li>
</ol>

Styleguide 8.2
*/

/*
Radio Buttons

Markup:
<ol class="form-inline">
	<li>
		<input type="radio" id="radio-1" name="radio">
		<label for="radio-1">Lorem ipsum dolor sit amet</label>
	</li>
	<li>
		<input type="radio" id="radio-2" name="radio">
		<label for="radio-2">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet</label>
	</li>
	<li>
		<input type="radio" id="radio-3" name="radio">
		<label for="radio-3">Ut enim ad minim veniam</label>
	</li>
	<li>
		<input type="radio" id="radio-4" name="radio" disabled="disabled">
		<label for="radio-4">Example of a disabled radio button</label>
	</li>
	<li>
		<input type="radio" id="radio-5" name="radio">
		<label for="radio-5">Nisi ut aliquip</label>
	</li>
</ol>

Styleguide 8.3
*/

input[type="checkbox"],
input[type="radio"] {
	margin: 0 5px 0 0;
}

input[disabled] + label {
	color: #999;
	cursor: default;
}

/* form list ------------------------------------------- //// */

.form {
	margin-left: 0;
	list-style: none;

	li {
		margin: 0 0 1em; /* 0 0 14px */
		padding: 0;
	}

	input,
	select,
	textarea {
		display: block;
	}
}

/* inline form list item ------------------------------------------- */

.form-inline {
	margin: 0;

	input,
	select,
	textarea {
		display: inline;
	}

	label {
		font-weight: normal;
	}
}