/* Grid
---------------------------------------------------------------------------------------- //// */

/* fields ----------------------------------------------- //// */
.fields {
	clear: both;
	margin: 0 auto;
	max-width: $max-width;

	@include media($L) {
		width: 97%;
	}

	&:before,
	&:after {
		display: table;
		content: '';
	}

	&:after {
		clear: both;
	}

	.fields {
		width: 100%;
	}
}

/* region ----------------------------------------------- //// */
.region {
	box-sizing: border-box;
	float: left;
	padding: 0 $gutter/2;
	width: 100%;
}

/* media-full ----------------------------------------------- */
.media-full {
	margin-right: -($gutter / 2);
	margin-left: -($gutter / 2);

	@include media($L) {
		margin-right: 0;
		margin-left: 0;
	}

	img,
	video {
		width: 100%;
	}
}

/* blocks ----------------------------------------------- //// */
.blocks {
	display: block;
	clear: both;
	margin: 0 (-$gutter/2) 0 (-$gutter);
	list-style: none;

	@include media($S) {
		margin-right: 0;
	}

	&:after {
		display: block;
		clear: both;
		content: '';
	}

	.no-generatedcontent & {
		overflow: hidden;
	}

	> li {
		display: block;
		box-sizing: border-box;
		margin: 0;
		padding: 0 $gutter/2 0 $gutter;
		background: none;

		@include media($S) {
			padding-right: 0;
		}
	}
}

/* XS
---------------------------------------------------------------------------------------- //// */
@include media($XS) {
	/* blocks ----------------------------------------------- //// */
	.blocks-four-up > li,
	.blocks-five-up > li,
	.blocks-six-up > li {
		float: left;
		width: 50%;
	}

	.blocks-four-up > li:nth-child(2n + 1),
	.blocks-five-up > li:nth-child(2n + 1),
	.blocks-six-up > li:nth-child(2n + 1) {
		clear: left;
	}
}

/* S
---------------------------------------------------------------------------------------- //// */
@include media($S) {
	/* blocks ----------------------------------------------- //// */
	.blocks-two-up > li,
	.blocks-three-up > li {
		float: left;
		width: 50%;
	}

	.blocks-five-up > li,
	.blocks-six-up > li {
		width: 33.333333%;
	}

	.blocks-five-up > li:nth-child(2n + 1),
	.blocks-six-up > li:nth-child(2n + 1) {
		clear: none;
	}

	.blocks-two-up > li:nth-child(2n + 1),
	.blocks-three-up > li:nth-child(2n + 1),
	.blocks-five-up > li:nth-child(3n + 1),
	.blocks-six-up > li:nth-child(3n + 1) {
		clear: left;
	}
}

/* M
---------------------------------------------------------------------------------------- //// */
@include media($M) {
	/* blocks ----------------------------------------------- //// */
	.blocks-three-up > li {
		width: 33.333333%;
	}

	.blocks-four-up > li {
		width: 25%;
	}

	.blocks-five-up > li {
		width: 20%;
	}

	.blocks-six-up > li {
		width: 16.666667%;
	}

	.blocks-three-up > li:nth-child(2n + 1),
	.blocks-four-up > li:nth-child(2n + 1),
	.blocks-five-up > li:nth-child(3n + 1),
	.blocks-six-up > li:nth-child(3n + 1) {
		clear: none;
	}

	.blocks-three-up > li:nth-child(3n + 1),
	.blocks-four-up > li:nth-child(4n + 1),
	.blocks-five-up > li:nth-child(5n + 1),
	.blocks-six-up > li:nth-child(6n + 1) {
		clear: left;
	}
}

/* L
---------------------------------------------------------------------------------------- //// */
@include media($L) {
	/* centered ----------------------------------------------- */
	.region-centered {
		float: none;
		margin: 0 auto;
	}
}