/* Grid
---------------------------------------------------------------------------------------- //// */

/* fields ----------------------------------------------- //// */
.fields {
	clear: both;
	margin: 0 auto;
	max-width: $maxWidth;

	@include media($L) {
		width: 97%;
	}

	.ie7 & {
		zoom: 1;
	}

	&:before,
	&:after {
		display: table;
		content: '';
	}

	&:after {
		clear: both;
	}

	.fields {
		width: 100%;
	}
}

/* region ----------------------------------------------- //// */
.region {
	box-sizing: border-box;
	float: left;
	padding: 0 $gutter/2;
	width: 100%;
}

/* keyline ----------------------------------------------- */
.region-keyline-before {
	padding-top: 1.5em; /* 24px */
	border-top: 1px solid #000;

	@include media($L) {
		padding-top: 0;
		border-top: 0;
		border-left: 1px solid #000;
	}
}

.region-keyline-after {
	margin-bottom: 1.5em; /* 24px */
	border-bottom: 1px solid #000;

	@include media($L) {
		margin-bottom: 0;
		border-bottom: 0;
		border-right: 1px solid #000;
	}
}

/* media-full ----------------------------------------------- */
.media-full {
	margin-right: -($gutter / 2);
	margin-left: -($gutter / 2);

	@include media($L) {
		margin-right: 0;
		margin-left: 0;
	}

	img,
	video {
		width: 100%;
	}
}

/* blocks ----------------------------------------------- //// */
.blocks {
	display: block;
	clear: both;
	margin: 0 (-$gutter/2) 0 (-$gutter);
	list-style: none;

	@include media($S) {
		margin-right: 0;
	}

	&:after {
		display: block;
		clear: both;
		content: '';
	}

	.no-generatedcontent & {
		overflow: hidden;
	}

	> li {
		display: block;
		box-sizing: border-box;
		/* clear: both; */
		margin: 0;
		padding: 0 $gutter/2 0 $gutter;
		background: none;

		/*
		@include media($XS) {
			clear: none;
		}
		*/

		@include media($S) {
			padding-right: 0;
		}
	}
}

/* XS
---------------------------------------------------------------------------------------- //// */
@include media($XS) {
	/* blocks ----------------------------------------------- //// */
	.blocks-four-up > li,
	.blocks-five-up > li,
	.blocks-six-up > li {
		float: left;
		width: 50%;
	}

	.blocks-four-up > li:nth-child(2n + 1),
	.blocks-five-up > li:nth-child(2n + 1),
	.blocks-six-up > li:nth-child(2n + 1) {
		clear: left;
	}
}

/* S
---------------------------------------------------------------------------------------- //// */
@include media($S) {
	/* blocks ----------------------------------------------- //// */
	.blocks-two-up > li,
	.blocks-three-up > li {
		float: left;
		width: 50%;
	}

	.blocks-five-up > li,
	.blocks-six-up > li {
		width: 33.333333%;
	}

	.blocks-five-up > li:nth-child(2n + 1),
	.blocks-six-up > li:nth-child(2n + 1) {
		clear: none;
	}

	.blocks-two-up > li:nth-child(2n + 1),
	.blocks-three-up > li:nth-child(2n + 1),
	.blocks-five-up > li:nth-child(3n + 1),
	.blocks-six-up > li:nth-child(3n + 1) {
		clear: left;
	}
}

/* M
---------------------------------------------------------------------------------------- //// */
@include media($M) {
	/* blocks ----------------------------------------------- //// */
	.blocks-three-up > li {
		width: 33.333333%;
	}

	.blocks-four-up > li {
		width: 25%;
	}

	.blocks-five-up > li {
		width: 20%;
	}

	.blocks-six-up > li {
		width: 16.666667%;
	}

	.blocks-three-up > li:nth-child(2n + 1),
	.blocks-four-up > li:nth-child(2n + 1),
	.blocks-five-up > li:nth-child(3n + 1),
	.blocks-six-up > li:nth-child(3n + 1) {
		clear: none;
	}

	.blocks-three-up > li:nth-child(3n + 1),
	.blocks-four-up > li:nth-child(4n + 1),
	.blocks-five-up > li:nth-child(5n + 1),
	.blocks-six-up > li:nth-child(6n + 1) {
		clear: left;
	}
}

/* L
---------------------------------------------------------------------------------------- //// */
@include media($L) {
	/* region ----------------------------------------------- //// */
	/* TODO - CJ - clean up */
	/*
	.no-boxsizing .region {
		padding: 0;
	}

	.no-boxsizing .region-wrap {
		padding: 0 16px;
	}
	*/

	/* ---- last region (class add via JS) ---- */
	/* TODO - CJ - clean up */
	/*
	.ie7 .region-last {
		zoom: 1;
		float: none;
		width: auto;
	}
	*/

	/* reset padding ----------------------------------------------- */

	// TODO - CJ - remove and use the region mixins
	.region.reset,
	.region.reset-left {
		padding-left: 0;
	}

	.region.reset,
	.region.reset-right {
		padding-right: 0;
	}

	/* TODO - CJ - clean up */
	/*
	.no-boxsizing {
		.region.reset .region-wrap,
		.region.reset-left .region-wrap {
			padding-left: 0;
		}

		.region.reset .region-wrap,
		.region.reset-right .region-wrap {
			padding-right: 0;
		}
	}
	*/

	/* centered ----------------------------------------------- */
	.region-centered {
		float: none;
		margin: 0 auto;
	}
}