/*
Headings

Using a [2:3 - perfect fifth modular scale](http://modularscale.com/scale/?px1=16&px2=&ra1=1.5&ra2=0)

Markup:
<h1 class="{$modifiers}">Lorem ipsum dolor <a href="#">sit amet consectetur</a></h1>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<!--
<h2 class="{$modifiers}">Lorem ipsum dolor <a href="#">sit amet consectetur</a></h2>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h3 class="{$modifiers}">Lorem ipsum dolor <a href="#">sit amet consectetur</a></h3>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h4 class="{$modifiers}">Lorem ipsum dolor <a href="#">sit amet consectetur</a></h4>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h5 class="{$modifiers}">Lorem ipsum dolor <a href="#">sit amet consectetur</a></h5>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h6 class="{$modifiers}">Lorem ipsum dolor <a href="#">sit amet consectetur</a></h6>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
-->

.heading-a				- Heading A
.heading-b				- Heading B
.heading-c				- Heading C
.heading-d				- Heading D
.heading-e				- Heading E
.heading-f				- Heading F

Styleguide 6.0
*/

/* TODO - CJ - use ems */

h1,
h2,
h3,
h4,
h5,
h6,
.heading-a {
	margin: 0 0 19px;
	font-weight: bold;
	font-size: 54px;
	line-height: 54px;
}

.heading-b {
	margin: 0 0 16px;
	font-size: 36px;
	line-height: 36px;
}

.heading-c {
	margin: 0 0 1em;
	font-size: 28px;
	line-height: 1;
}

.heading-d {
	margin: 0 0 1.5em;
	font-weight: normal;
	font-size: 24px;
	line-height: 1;
}

.heading-e {
	margin: 0 0 1.5em;
	font-size: 1em;
	line-height: 1;
}

.heading-f {
	margin: 0 0 1.5em;
	color: #666;
	font-size: 14px;
	line-height: 1.5;
	text-transform: uppercase;
}