/* Redefine
---------------------------------------------------------------------------------------- //// */

@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

html {
	overflow-y: scroll;
	background: #fff;
}

body {
	color: $font-color;
	font: #{$font-size}/#{$line-height} $font-stack;

	@include media($XL) {
		min-width: 960px;
	}
}

/* default margin ----------------------------------------------- //// */
p, ul, ol, li, dl, table, hr, pre {
	margin-bottom: 1.5em; /* 24px */
}

/* ::selection ----------------------------------------------- //// */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/* links ----------------------------------------------- //// */
a:link,
a:visited,
a:hover,
a:focus,
a:active {
	color: blue;
	text-decoration: underline;
}

/* media ----------------------------------------------- //// */
embed,
iframe,
img,
object,
video {
	max-width: 100%;
}

img,
video {
	height: auto;
}

/* image ----------------------------------------------- */
img {
	vertical-align: bottom;

	.ie7 & {
		-ms-interpolation-mode: bicubic;
	}
}

.image-left,
.image-right {
	margin: 5px 0 1.5em; /* 5px 0 24px */
}

.image-left {
	float: left;
	margin-right: $gutter;
}

.image-right {
	float: right;
	margin-left: $gutter;
}

.image-rwd span {
	display: none;
}

/* ordered, unordered lists ----------------------------------------------- //// */
/*
ol {
	margin-left: 24px;
	list-style: decimal;
}

ul li {
	padding: 0 0 0 24px;
	background: url(../images/bullet.png) no-repeat 0 .5em;
}
*/

ol,
ul {
	padding: 0;
	list-style: none;
}

/* definition list ----------------------------------------------- //// */
/*
dt {
	font-weight: bold;
}
*/

/* hidden ----------------------------------------- //// */
/*
1. Hide for both screenreaders and browsers
		css-discuss.incutio.com/wiki/Screenreader_Visibility
2. Hide only visually, but have it available for screenreaders
		by Jon Neal
		www.webaim.org/techniques/css/invisiblecontent/
		j.mp/visuallyhidden
3. Extends the .hidden_visually class to allow the element to be focusable when navigated to via the keyboard
		(was ".visuallyhidden")
		drupal.org/node/897638
4. Hide visually and from screenreaders, but maintain layout
*/

/* 1 */
.hidden {
	display: none;
	visibility: hidden;
}

/* 2 */
.hidden-visually {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	border: 0;
	clip: rect(0 0 0 0);

	/* 3 */
	&:focus,
	&:active {
		position: static;
		overflow: visible;
		clip: auto;
		margin: 0;
		width: auto;
		height: auto;
	}
}

/* 4 */
.invisible {
	visibility: hidden;
}

/* misc ------------------------------------------- //// */
abbr {
	color: lighten($fontColor, 30);
	font-size: .875em; /* 14px */
	letter-spacing: .0714em; /* 1px */
}

del {
	text-decoration: line-through;
}

em,
i,
var,
samp,
cite {
	color: lighten($fontColor, 30);
	font-style: italic;
}

samp {
	margin: 0 .25em;
	font-family: $fontStackMono;
	font-size: .875em; /* 14px */
}

ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}

kbd {
	margin: 0 .25em;
	padding: .1429em .4286em;
	border: 1px solid #E6E6E6;
	border-radius: 4px;
	background: #fcfcfc;
	color: #666;
	font-size: .875em; /* 14px */
	line-height: .9;
	font-family: $fontStackMono;
}

code {
	display: inline-block;
	background: #eee;
	font-family: $fontStackMono;
	font-size: .875em; /* 14px */
}

pre {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	tab-size: 4;
	padding: .5em 1em;
	border: 1px solid #000;
	border-radius: 3px;
	background: #383a3f;
	color: #abe0ff;
	font-size: $fontSize;

	code {
		background: none;
	}
}

/* text alignment ------------------------------------------- //// */
.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}