/*
Tables

Markup:
<table class="{$modifiers}">
	<thead>
		<tr>
			<th>Course Name</th>
			<th>Course Tutor</th>
			<th>Summary</th>
			<th>Code</th>
			<th>Fee</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td data-th="Course Name">After the Civil War</td>
			<td data-th="Course Tutor">Dr. John Wroughton</td>
			<td data-th="Summary">The course will examine the turbulent years in England after 1646. 6 weekly meetings starting Monday 13th October.</td>
			<td data-th="Code">H27</td>
			<td data-th="Fee">$32</td>
		</tr>
		<tr>
			<td data-th="Course Name">An Introduction to Anglo-Saxon England</td>
			<td data-th="Course Tutor">Mark Cottle</td>
			<td data-th="Summary">One day course introducing the early medieval period reconstruction the Anglo-Saxons and their society. Saturday 18th October.</td>
			<td data-th="Code">H28</td>
			<td data-th="Fee">$18</td>
		</tr>
		<tr>
			<td data-th="Course Name">The Glory that was Greece</td>
			<td data-th="Course Tutor">Valerie Lorenz</td>
			<td data-th="Summary">Birthplace of democracy, philosophy, heartland of theater, home of argument. The Romans may have done it but the Greeks did it first. Saturday day school 25th October 1997</td>
			<td data-th="Code">H30</td>
			<td data-th="Fee">$18</td>
		</tr>
	</tbody>
</table>

.table-responsive			- Responsive

Styleguide 7.0
*/

table {
	width: 100%;
}

thead {
	background: #eee;

	@include media($M) {
		border-bottom: 1px solid #000;
	}
}

td,
th {
	padding: .5em;
	text-align: left;
	vertical-align: top;
}

th {
	font-weight: bold;
}

/* responsive ----------------------------------------------- //// */
.generatedcontent .table-responsive {
	display: block;
	border-bottom: 1px solid #000;
	font-size: .875em; /* 14px */

	@include media($M) {
		display: table;
		border: 0;
		font-size: 1em; /* 16px */
	}

	thead,
	tfoot,
	tbody,
	tr,
	td,
	th {
		display: block;
	}

	tr {
		overflow: hidden;
	}

	@include media($M) {
		thead {
			display: table-header-group;
		}

		tbody {
			display: table-row-group;
		}

		tfoot {
			display: table-footer-group;
		}

		tr {
			display: table-row;
		}

		td,
		th {
			display: table-cell;
		}
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;

		@include media($M) {
			position: static;
		}
	}

	td,
	th {
		position: relative;
		float: left;
		width: 54%;
		padding: 2% 2% 2% 44%;
		border-bottom: 1px solid #ccc;

		@include media($M) {
			position: static;
			float: none;
			padding: .5em;
			width: auto;
			border: 0;
		}

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 34%;
			padding: 2%;
			font-weight: bold;
			content: attr(data-th);

			@include media($M) {
				display: none;
				content: '';
			}
		}

		&:first-child {
			border-top: 1px solid #000;
			background: #ccc;

			@include media($M) {
				border: 0;
				background: none;
			}
		}

		&:last-child {
			border: 0;
		}
	}
}