/* Demo 2
---------------------------------------------------------------------------------------- //// */

.demo2 {
	.main {
		@include media($L) {
			width: percentage(1/2);
		}

		@include media($XL) {
			width: percentage(2/3);
		}
	}

	.main-heading {
		padding: 0;
	}

	.main-sidebar {
		padding: 0;

		@include media($XL) {
			@include region-padding;
			padding-left: 0;
			width: percentage(1/3);
		}
	}

	.main-overview {
		padding: 0;

		@include media($XL) {
			@include region-padding;
			padding-right: 0;
			width: percentage(2/3);
		}
	}

	.aside {
		@include media($L) {
			width: percentage(1/2);
		}

		@include media($XL) {
			width: percentage(1/3);
		}

		.blocks {
			margin-bottom: 1.5em;
			border: 1px solid #000;
			border-width: 1px 0;

			@include media($S) {
				margin-bottom: 0;
				border: 0;
			}
		}

		img {
			float: left;
			margin: 0 $grid-gutter/2 0 0;
			width: 80px;

			@include media($S) {
				float: none;
				margin: 0;
				width: auto;
			}
		}
	}
}