/* Demo 1
---------------------------------------------------------------------------------------- //// */

.demo1 {
	img {
		display: block;
		margin: 0 auto;
	}

	@include media($L) {
		.main {
			width: percentage(2/3);
		}

		.aside {
			width: percentage(1/3);
		}
	}

	.features {
		margin-bottom: 1.5em;
		border-bottom: 1px solid #000;

		@include media($S) {
			margin-bottom: 0;
			border: 0;
		}

		li {
			padding-top: 1.5em;
			border-top: 1px solid #000;

			@include media($S) {
				padding-top: 0;
				border: 0;
			}
		}
	}
}