/* Demo
---------------------------------------------------------------------------------------- //// */

/* S
---------------------------------------------------------------------------------------- //// */
@media (min-width:30em) {
	h1 {
		font-size:130px;
		line-height:1em;
		text-align:center}
}

/* L
---------------------------------------------------------------------------------------- //// */
@media (min-width:48.0625em) {
	h1 {
		font-size:200px}
}