/* [4] GRID
---------------------------------------------------------------------------------------- //// */

/* container ----------------------------------------------- //// */
.container {
	margin:0 auto;
	width:94%;
	max-width:700px;
	min-width:200px}

/* fields ----------------------------------------------- //// */
.fields {
	clear:both}
.ie7 .fields {
	zoom:1}

.fields:before,
.fields:after {
	display:table;
	content:''}
.fields:after {
	clear:both}

/* region ----------------------------------------------- //// */
.region {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box}

/* media ----------------------------------------------- */
.region embed,
.region img,
.region video {
	max-width:100%;
	height:auto}

.region object {
	max-width:100%}

.ie7 .region img {
	-ms-interpolation-mode:bicubic}

.media-full {
	margin-left:-3%;
	width:106%}

/* blocks ----------------------------------------------- //// */
.blocks {
	display:block;
	clear:both;
	margin-left:-32px;
	list-style:none}
.blocks:after {
	display:block;
	clear:both;
	content:''}
.no-generatedcontent .blocks {
	overflow:hidden}

.blocks > li {
	display:block;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	clear:both;
	padding:0 0 0 32px;
	background:none}
.no-boxsizing .blocks > li {
	padding:0}
.no-boxsizing .blocks-wrap {
	margin:0 0 0 32px}

/* MEDIA QUERY: 320px
---------------------------------------------------------------------------------------- //// */
@media (min-width:320px) {
	/* blocks ----------------------------------------------- //// */
	.blocks > li {
		clear:none}
	.blocks-two-up > li,
	.blocks-three-up > li,
	.blocks-four-up > li,
	.blocks-five-up > li,
	.blocks-six-up > li {
		float:left;
		width:50%}
	.blocks-two-up > li:nth-child(2n+1),
	.blocks-three-up > li:nth-child(2n+1),
	.blocks-four-up > li:nth-child(2n+1),
	.blocks-five-up > li:nth-child(2n+1),
	.blocks-six-up > li:nth-child(2n+1) {
		clear:left}

	/* nth-child polyfill (IE7, IE8, etc) ----------------------------------------------- */
	.no-nthchild .blocks-start {
		clear:left}
	.no-nthchild .blocks-end {
		zoom:1;
		float:none;
		width:auto}
}

/* MEDIA QUERY: 480px
---------------------------------------------------------------------------------------- //// */
@media (min-width:480px) {
	/* blocks ----------------------------------------------- //// */
	.blocks-three-up > li,
	.blocks-five-up > li,
	.blocks-six-up > li {
		width:33.333333%}
	.blocks-three-up > li:nth-child(2n+1),
	.blocks-five-up > li:nth-child(2n+1),
	.blocks-six-up > li:nth-child(2n+1) {
		clear:none}
	.blocks-three-up > li:nth-child(3n+1),
	.blocks-five-up > li:nth-child(3n+1),
	.blocks-six-up > li:nth-child(3n+1) {
		clear:left}
	.blocks img {
		width:auto}
}

/* MEDIA QUERY: 640px
---------------------------------------------------------------------------------------- //// */
@media (min-width:640px) {
	.container {
		max-width:1176px}

	/* blocks ----------------------------------------------- //// */
	.blocks-four-up > li {
		width:25%}
	.blocks-five-up > li {
		width:20%}
	.blocks-six-up > li {
		width:16.666667%}
	.blocks-four-up > li:nth-child(2n+1),
	.blocks-five-up > li:nth-child(3n+1),
	.blocks-six-up > li:nth-child(3n+1) {
		clear:none}
	.blocks-four-up > li:nth-child(4n+1),
	.blocks-five-up > li:nth-child(5n+1),
	.blocks-six-up > li:nth-child(6n+1) {
		clear:left}
}

/* MEDIA QUERY: 769px
---------------------------------------------------------------------------------------- //// */
@media (min-width:769px) {
	/* container ----------------------------------------------- //// */
	.container {
		width:97%}

	/* region ----------------------------------------------- //// */
	.region {
		position:relative;
		float:left;
		padding:0 16px}
	.no-boxsizing .region {
		padding:0}
	.no-boxsizing .region-wrap {
		padding:0 16px}

	/* ---- last region ---- */
	.ie7 .region-last {
		/* class add via JS */
		zoom:1;
		float:none;
		width:auto}

	/* reset padding ----------------------------------------------- */
	.region.reset,
	.region.reset-left {
		padding-left:0}
	.region.reset,
	.region.reset-right {
		padding-right:0}

	.no-boxsizing .region.reset .region-wrap,
	.no-boxsizing .region.reset-left .region-wrap {
		padding-left:0}
	.no-boxsizing .region.reset .region-wrap,
	.no-boxsizing .region.reset-right .region-wrap {
		padding-right:0}

	/* sizes ----------------------------------------------- */
	.size1of1 {float:none}
	.size1of2 {width:50%}
	.size1of3 {width:33.333333%}
	.size2of3 {width:66.666666%}
	.size1of4 {width:25%}
	.size3of4 {width:75%}
	.size1of5 {width:20%}
	.size2of5 {width:40%}
	.size3of5 {width:60%}
	.size4of5 {width:80%}
	.size1of6 {width:16.666667%}
	.size5of6 {width:83.333333%}
	.size1of7 {width:14.285714%}
	.size-golden-long {width:61.803398%}
	.size-golden-short {width:38.196602%}

	/* ---- prefix ---- */
	.prefix1of2 {margin-left:50%}
	.prefix1of3 {margin-left:33.333333%}
	.prefix2of3 {margin-left:66.666666%}
	.prefix1of4 {margin-left:25%}
	.prefix3of4 {margin-left:75%}
	.prefix1of5 {margin-left:20%}
	.prefix2of5 {margin-left:40%}
	.prefix3of5 {margin-left:60%}
	.prefix4of5 {margin-left:80%}
	.prefix1of6 {margin-left:16.666667%}
	.prefix5of6 {margin-left:83.333333%}
	.prefix1of7 {margin-left:14.285714%}
	.prefix-golden-long {margin-left:61.803398%}
	.prefix-golden-short {margin-left:38.196602%}

	/* ---- suffix ---- */
	.suffix1of2 {margin-right:50%}
	.suffix1of3 {margin-right:33.333333%}
	.suffix2of3 {margin-right:66.666666%}
	.suffix1of4 {margin-right:25%}
	.suffix3of4 {margin-right:75%}
	.suffix1of5 {margin-right:20%}
	.suffix2of5 {margin-right:40%}
	.suffix3of5 {margin-right:60%}
	.suffix4of5 {margin-right:80%}
	.suffix1of6 {margin-right:16.666667%}
	.suffix5of6 {margin-right:83.333333%}
	.suffix1of7 {margin-right:14.285714%}
	.suffix-golden-long {margin-right:61.803398%}
	.suffix-golden-short {margin-right:38.196602%}

	/* ---- push ---- */
	.push1of2 {left:50%}
	.push1of3 {left:33.333333%}
	.push2of3 {left:66.666666%}
	.push1of4 {left:25%}
	.push3of4 {left:75%}
	.push1of5 {left:20%}
	.push2of5 {left:40%}
	.push3of5 {left:60%}
	.push4of5 {left:80%}
	.push1of6 {left:16.666667%}
	.push5of6 {left:83.333333%}
	.push1of7 {left:14.285714%}
	.push-golden-long {left:61.803398%}
	.push-golden-short {left:38.196602%}

	/* ---- pull ---- */
	.pull1of2 {left:-50%}
	.pull1of3 {left:-33.333333%}
	.pull2of3 {left:-66.666666%}
	.pull1of4 {left:-25%}
	.pull3of4 {left:-75%}
	.pull1of5 {left:-20%}
	.pull2of5 {left:-40%}
	.pull3of5 {left:-60%}
	.pull4of5 {left:-80%}
	.pull1of6 {left:-16.666667%}
	.pull5of6 {left:-83.333333%}
	.pull1of7 {left:-14.285714%}
	.pull-golden-long {left:-61.803398%}
	.pull-golden-short {left:-38.196602%}

	/* ---- centered ---- */
	.region-centered {
		float:none;
		margin:0 auto}

	/* ---- keyline ---- */
	.region-keyline-left {
		border-left:1px solid #ccc}
	.region-keyline-right {
		border-right:1px solid #ccc}

	/* media ----------------------------------------------- //// */
	.media-full {
		margin-left:0;
		width:100%}
}