/* Headings
---------------------------------------------------------------------------------------- //// */

h1,
.heading-a {
	margin-bottom:19px; /* TODO - CJ - use ems */
	font-weight:bold;
	font-size:42px; /* TODO - CJ - use ems */
	line-height:53px; /* TODO - CJ - use ems */}
h2,
.heading-b {
	margin-bottom:9px; /* TODO - CJ - use ems */
	font-weight:bold;
	font-size:26px; /* TODO - CJ - use ems */
	line-height:36px; /* TODO - CJ - use ems */
	}
h3,
.heading-c {
	margin-bottom:1.5em; /* 24px */
	font-weight:bold;
	font-size:1em;
	line-height:1}
h4,
.heading-d {
	margin-bottom:1.5em; /* 24px */
	font-weight:normal;
	font-size:1em;
	line-height:1}
h5,
.heading-e {
	margin-bottom:1.5em; /* 24px */
	font-weight:normal;
	font-size:1em;
	line-height:1}
h6,
.heading-f {
	margin-bottom:1.5em; /* 24px */
	font-weight:normal;
	font-size:1em;
	line-height:1}