/* Redefine
---------------------------------------------------------------------------------------- //// */
html {
	overflow-y:scroll;
	background:#fff;
	/*text-rendering:optimizeLegibility;*/
	/*-webkit-font-smoothing:antialiased;*/
	-ms-text-size-adjust:    100%;
	-webkit-text-size-adjust:100%;
	/* word-wrap:break-word */
	/*
	-moz-hyphens:   auto;
	-webkit-hyphens:auto;
	hyphens:        auto
	*/
	}
body {
	color:#000;
	font:1em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif; /* 16px/24px */}

/* default margin ----------------------------------------------- //// */
p, ul, ol, li, dl, table, hr, pre {
	margin-bottom:1.5em; /* 24px */}

/* ::selection ----------------------------------------------- //// */
::-moz-selection {
	background:#b3d4fc;
	text-shadow:none}
::-webkit-selection {
	background:#b3d4fc;
	text-shadow:none}
::selection {
	background:#b3d4fc;
	text-shadow:none}

/* links ----------------------------------------------- //// */
a:link,
a:visited,
a:hover,
a:focus,
a:active {
	color:blue;
	text-decoration:underline}

a:link {
	-webkit-tap-highlight-color:rgb(52,158,219)}

/* media ----------------------------------------------- //// */

/* image ----------------------------------------------- */
img {
	vertical-align:bottom}

.image-left,
.image-right {
	margin:5px 0 1.5em; /* 5px 0 24px */}
.image-left {
	float:left;
	margin-right:32px}
.image-right {
	float:right;
	margin-left:32px}

.image-rwd span {
	display:none}

/* svg ----------------------------------------------- */
svg:not(:root) {
	overflow:hidden}

/* ordered, unordered lists ----------------------------------------------- //// */
ol {
	margin-left:24px;
	list-style:decimal}

ul li {
	padding:0 0 0 24px;
	background:url(../images/bullet.png) no-repeat 0 .5em}

ol ol,
ol ul,
ul ol,
ul ul {
	padding-top:1.5em; /* 24px */}

/* definition list ----------------------------------------------- //// */
dt {
	font-weight:bold}

/* hidden ----------------------------------------- //// */
/*
1. Hide for both screenreaders and browsers
		css-discuss.incutio.com/wiki/Screenreader_Visibility
2. Hide only visually, but have it available for screenreaders
		by Jon Neal
		www.webaim.org/techniques/css/invisiblecontent/
		j.mp/visuallyhidden
3. Extends the .hidden_visually class to allow the element to be focusable when navigated to via the keyboard
		(was ".visuallyhidden")
		drupal.org/node/897638
4. Hide visually and from screenreaders, but maintain layout
*/

/* 1 */
.hidden {
	display:none;
	visibility:hidden}

/* 2 */
.hidden-visually {
	position:absolute;
	overflow:hidden;
	margin:-1px;
	padding:0;
	width:1px;
	height:1px;
	border:0;
	clip:rect(0 0 0 0)}

/* 3 */
.hidden-visually:focus,
.hidden-visually:active {
	position:static;
	overflow:visible;
	clip:auto;
	margin:0;
	width:auto;
	height:auto}

/* 4 */
.invisible {
	visibility:hidden}

/* code samples ------------------------------------------- //// */
code {
	display:inline-block;
	background:#eee;
	font-family:'Courier New', Courier, monospace}

/* pre ------------------------------------------- */
pre {
	overflow-x:auto;
	-webkit-overflow-scrolling:touch;
	-moz-tab-size:   4;
	-o-tab-size:     4;
	-webkit-tab-size:4;
	tab-size:        4;
	padding:1.5em;
	border:1px solid #000;
	-moz-border-radius:   3px;
	-webkit-border-radius:3px;
	border-radius:        3px;
	background:#383a3f;
	color:#abe0ff;
	font-size:1em}
pre code {
	background:none}

/* misc ------------------------------------------- //// */
abbr {
	border-bottom:1px dotted;
	cursor:help}

b, strong {
	font-weight:bold}

del {
	text-decoration:line-through}

dfn {
	font-style:italic}

em, i {
	font-style:italic}

hr {
	display:block;
	clear:both;
	margin-top:-1px;
	padding:0;
	height:1px;
	border:0;
	border-top:1px solid #ccc}

ins {
	background:#ff9;
	color:#000;
	text-decoration:none}

mark {
	background:#ff0;
	color:#000;
	font-style:italic;
	font-weight:bold}

q {
	quotes:none}
q:before,
q:after {
	content:'';
	content:none}

small {
	color:#666}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
	position:relative;
	font-size:75%;
	line-height:0;
	vertical-align:baseline}
sup {
	top:-.5em}
sub {
	bottom:-.25em}

/* text alignment ------------------------------------------- //// */
.align-center {
	text-align:center}
.align-left {
	text-align:left}
.align-right {
	text-align:right}