/* Slider
---------------------------------------------------------------------------------------- //// */
.slider {
	overflow:hidden;
	margin:0 0 1.5em;
	background:#eee}
.js .slider {
	margin:0}

.slider > ol {
	overflow:hidden;
	margin:0;
	list-style:none}

.slider > ol > li {
	margin:0;
	background:#fff}
.js .slider > ol > li {
	display:none;
	position:relative;
	float:left}

.slider > ol > li > p {
	padding:1.5em 3% 0}

/* slider nav ----------------------------------------------- //// */
.slider-nav {
	position:relative;
	float:left;
	margin:0 0 1.5em;
	padding:1.5em 0;
	width:100%;
	background:#eee}
.slider-nav button {
	display:block;
	margin:0}

button.slider-prev,
button.slider-next {
	position:absolute;
	top:50%;
	margin:-20px 0 0;
	padding:1em 1.2em;
	font-size:12px; /* TODO - CJ - use ems */}
button.slider-prev {
	left:12px}
button.slider-next {
	right:12px}

.slider-nav .disabled {
	color:#ccc;
	border-color:#ccc}
.slider-nav .disabled:hover,
.slider-nav .disabled:focus {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	cursor:default}

.slider-nav ol {
	position:relative;
	top:0;
	left:50%;
	float:left;
	margin:0;
	list-style:none}
.slider-nav li {
	position:relative;
	right:50%;
	float:left;
	margin:0 5px}
.slider-nav li button {
	overflow:hidden;
	padding:0;
	width:10px;
	height:10px;
	-moz-border-radius:   100%;
	-webkit-border-radius:100%;
	border-radius:        100%;
	text-indent:-9999px}
.slider-nav .selected button {
	background:#fff}


/* M
---------------------------------------------------------------------------------------- //// */
@media (min-width:37.5em) {
	/* slider nav ----------------------------------------------- //// */
	.slider-nav {
		padding:1em 0}
	.slider-nav li button {
		padding:.25em .5em;
		width:auto;
		height:auto;
		-moz-border-radius:   3px;
		-webkit-border-radius:3px;
		border-radius:        3px;
		text-indent:0}
}