/* Reference
---------------------------------------------------------------------------------------- //// */

/* reset, redefine ----------------------------------------------- //// */
html,
body {
	margin:0;
	padding:0;
	border:0}
html {
	overflow-y:scroll;
	background:#fff;
	-ms-text-size-adjust:    100%;
	-webkit-text-size-adjust:100%}
body {
	color:#000;
	font:12px/1.6 'Helvetica Neue', Helvetica, Arial, sans-serif}

.alert {
	color:red;
	font-weight:bold}

/* Index Pages
---------------------------------------------------------------------------------------- //// */
#index,
#tests {
	position:relative;
	margin:0 auto;
	max-width:50em;
	overflow:hidden}
#index {
	padding:10%;
	background:#fff}

#index .updated {
	margin:0 0 2em;
	padding:.7em 5px;
	border:1px solid #d0d0d0;
	border-width:1px 0;
	color:#333}

#index p,
#index h1,
#index h2,
#index h3,
#index h4,
#index h5,
#index h6,
#index ul,
#index ol,
#index li {
	margin:0 0 1em;
	padding:0}

#index em {
	color:#999}

/* links ----------------------------------------------- //// */
#index a {
	font-weight:bold}
#index a:link,
#index a:visited {
	color:#18a;
	text-decoration:none}
#index a:hover,
#index a:focus,
#index a:active {
	color:#3ac;
	text-decoration:underline}

/* headings ----------------------------------------------- //// */
#index h1,
#index h2,
#index h3,
#index h4,
#index h5,
#index h6 {
	font-size:1em;
	line-height:1}

#index h1 {
	margin:0 0 .5em;
	font-size:36px}
#index h2 {
	padding:1em 0 .25em;
	border-bottom:1px solid #eee;
	font-size:16px;
	color:#666}
#index h3 {
	font-size:14px}

/* lists ----------------------------------------------- */
#index ol,
#index ul {
	margin:0 0 2em 30px}
#index ul ul,
#index ul ol,
#index ol ul,
#index ol ol {
	margin-top:1em;
	margin-right:0}

#index li li a {
	font-weight:normal}

/* variations */
#index .upper-alpha {
	list-style:upper-alpha}

/* Tests
---------------------------------------------------------------------------------------- //// */
.fail #index,
.pass #index {
	border-top:5px solid #ee5757}
.pass #index {
	border-color:#c6e746}

#qunit-tests li {
	margin:0}

.tests li {
	position:relative;
	list-style:none}
.tests li:before {
	position:absolute;
	top:2px;
	left:-22px;
	width:15px;
	height:15px;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	background:#ccc;
	color:#fff;
	font-weight:bold;
	line-height:1.25;
	text-align:center;
	content:'?'}
.tests li.failed:before {
	background:#ee5757;
	content:''}
.tests li.passed:before {
	background:#c6e746;
	content:'\2713'}

.tests li .failed {
	color:#710909}
.tests li .passed {
	color:#5e740b}

iframe.tests {
	position:absolute;
	top:0;
	left:100%;
	border:0;
	width:700px;
	height:500px}

/* L
---------------------------------------------------------------------------------------- //// */
@media (min-width:48.0625em) {
	html {
		background:#ccc}

	/* index ----------------------------------------------- //// */
	#index {
		padding:5%}
}