/* Forms
---------------------------------------------------------------------------------------- //// */

legend {
	margin: 0 0 1em;

	.ie7 & {
		margin-left: -7px;
	}
}

label {
	font-weight: bold;
	cursor: pointer;
}

/* form fields ------------------------------------------- //// */
/* 
1. Remove the inner shadow on iOS
*/

button,
input,
select,
textarea {
	margin: 0;
	padding: 6px 7px 7px; /* TODO - CJ - use ems */
	border: 1px solid #ccc;
	@include border-radius(3px);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); /* 1 */
	background-color: #fff;
	color: #000;
	font: 1em $fontStack; /* 16px/21px */
	vertical-align: baseline;

	.ie7 & {
		vertical-align: middle;
	}

	&:hover {
		border-color: #999;
		outline: 0;
	}

	&:focus {
		border-color: #aaa;
		@include box-shadow(0 0 3px rgba(0, 0, 0, .2));
		outline: 0;
	}

	&.disabled,
	&.disabled,
	&.disabled {
		border-color: #ccc;
		background: #ccc;
		color: #827a71;
		cursor: default;
	}
}

button,
input {
	line-height: normal;

	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

select {
	cursor: pointer;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

/* buttons ------------------------------------------- //// */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	margin: 0 10px 0 0;
	padding: .5em 1.5em;
	background: #eee;
	font-weight: bold;
	-webkit-appearance: button;
	cursor: pointer;

	.ie7 & {
		overflow: visible;
	}

	&:hover,
	&:focus {
		background: lightblue;
	}
}

/* checkbox, radio ------------------------------------------- //// */
input[type="checkbox"],
input[type="radio"] {
	@include box-sizing(border-box);
	margin: 0 5px 0 0;
	padding: 0;
	background: none;
	vertical-align: text-top;
}

/* search ------------------------------------------- //// */
input[type="search"] {
	/* TODO - CJ - check this */
	/*
	-webkit-appearance:textfield;
	@include box-sizing(content-box);
	*/

	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	/* TODO - CJ - check this */
	/*
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button {
		display:none;
	}
	*/
}

/* valid, invalid ------------------------------------------- //// */
input:valid,
textarea:valid {
	/* TODO - CJ - ? */
}

input:invalid,
textarea:invalid {
	background-color: #f0dddd;
}

/* form list ------------------------------------------- //// */
.form {
	margin-left: 0;
	list-style: none;

	li {
		margin: 0 0 1em; /* 0 0 14px */
		padding: 0;
	}

	input,
	select,
	textarea {
		display: block;
	}

	.note {
		color: lighten($fontColor, 70);
	}

	.error input,
	.error select,
	.error textarea {
		border-color: #f00;
	}

	.error .error-message {
		color: #f00;
	}
}

/* inline form list item ------------------------------------------- */
.form-inline {
	margin: 0;

	input,
	select,
	textarea {
		display: inline;
	}

	label {
		font-weight: normal;
	}
}