/* Grid
---------------------------------------------------------------------------------------- //// */

/* head ----------------------------------------------- //// */
head {
	@include media($XXS) {font-family:'/XXS'}
	@include media($XS)  {font-family:'/XXS/XS'}
	@include media($S)   {font-family:'/XXS/XS/S'}
	@include media($M)   {font-family:'/XXS/XS/S/M'}
	@include media($L)   {font-family:'/XXS/XS/S/M/L'}
	@include media($XL)  {font-family:'/XXS/XS/S/M/L/XL'}
}

/* fields ----------------------------------------------- //// */
.fields {
	clear:both;
	margin:0 auto;
	max-width:$maxWidth;

	@include media($L) {
		width:97%;
	}

	.ie7 & {
		zoom:1;
	}

	&:before,
	&:after {
		display:table;
		content:'';
	}

	&:after {
		clear:both;
	}

	.fields {
		width:100%;
	}
}

/* region ----------------------------------------------- //// */
.region {
	@include box-sizing(border-box);
	float:left;
	padding:0 $gutter/2;
	width:100%;
}

/* keyline ----------------------------------------------- */
.region-keyline-before {
	padding-top:1.5em; /* 24px */
	border-top:1px solid #000;

	@include media($L) {
		padding-top:0;
		border-top:0;
		border-left:1px solid #000;
	}
}

.region-keyline-after {
	margin-bottom:1.5em; /* 24px */
	border-bottom:1px solid #000;

	@include media($L) {
		margin-bottom:0;
		border-bottom:0;
		border-right:1px solid #000;
	}
}

/* media-full ----------------------------------------------- */
.media-full {
	margin-right:-($gutter / 2);
	margin-left:-($gutter / 2);

	@include media($L) {
		margin-right:0;
		margin-left:0;
	}

	img,
	video {
		width:100%;
	}
}

/* blocks ----------------------------------------------- //// */
.blocks {
	display:block;
	clear:both;
	margin:0 (-$gutter/2) 0 (-$gutter);
	list-style:none;

	@include media($S) {
		margin-right:0;
	}

	&:after {
		display:block;
		clear:both;
		content:'';
	}

	.no-generatedcontent & {
		overflow:hidden;
	}

	> li {
		display:block;
		@include box-sizing(border-box);
		/* clear:both; */
		margin:0;
		padding:0 $gutter/2 0 $gutter;
		background:none;

		/*
		@include media($XS) {
			clear:none;
		}
		*/

		@include media($S) {
			padding-right:0;
		}
	}
}

/* XS
---------------------------------------------------------------------------------------- //// */
@include media($XS) {
	/* blocks ----------------------------------------------- //// */
	.blocks-four-up > li,
	.blocks-five-up > li,
	.blocks-six-up > li {
		float:left;
		width:50%}
	.blocks-four-up > li:nth-child(2n+1),
	.blocks-five-up > li:nth-child(2n+1),
	.blocks-six-up > li:nth-child(2n+1) {
		clear:left}
}

/* S
---------------------------------------------------------------------------------------- //// */
@include media($S) {
	/* blocks ----------------------------------------------- //// */
	.blocks-two-up > li,
	.blocks-three-up > li {
		float:left;
		width:50%}
	.blocks-five-up > li,
	.blocks-six-up > li {
		width:33.333333%}
	.blocks-five-up > li:nth-child(2n+1),
	.blocks-six-up > li:nth-child(2n+1) {
		clear:none}
	.blocks-two-up > li:nth-child(2n+1),
	.blocks-three-up > li:nth-child(2n+1),
	.blocks-five-up > li:nth-child(3n+1),
	.blocks-six-up > li:nth-child(3n+1) {
		clear:left}
}

/* M
---------------------------------------------------------------------------------------- //// */
@include media($M) {
	/* blocks ----------------------------------------------- //// */
	.blocks-three-up > li {
		width:33.333333%}
	.blocks-four-up > li {
		width:25%}
	.blocks-five-up > li {
		width:20%}
	.blocks-six-up > li {
		width:16.666667%}
	.blocks-three-up > li:nth-child(2n+1),
	.blocks-four-up > li:nth-child(2n+1),
	.blocks-five-up > li:nth-child(3n+1),
	.blocks-six-up > li:nth-child(3n+1) {
		clear:none}
	.blocks-three-up > li:nth-child(3n+1),
	.blocks-four-up > li:nth-child(4n+1),
	.blocks-five-up > li:nth-child(5n+1),
	.blocks-six-up > li:nth-child(6n+1) {
		clear:left}
}

/* L
---------------------------------------------------------------------------------------- //// */
@include media($L) {
	/* region ----------------------------------------------- //// */
	/* TODO - CJ - clean up */
	/*
	.no-boxsizing .region {
		padding:0}
	.no-boxsizing .region-wrap {
		padding:0 16px}
	*/

	/* ---- last region (class add via JS) ---- */
	/* TODO - CJ - clean up */
	/*
	.ie7 .region-last {
		zoom:1;
		float:none;
		width:auto}
	*/

	/* reset padding ----------------------------------------------- */

	// TODO - CJ - remove and use the region mixins
	.region.reset,
	.region.reset-left {
		padding-left:0}
	.region.reset,
	.region.reset-right {
		padding-right:0}

	/* TODO - CJ - clean up */
	/*
	.no-boxsizing .region.reset .region-wrap,
	.no-boxsizing .region.reset-left .region-wrap {
		padding-left:0}
	.no-boxsizing .region.reset .region-wrap,
	.no-boxsizing .region.reset-right .region-wrap {
		padding-right:0}
	*/

	// TODO - CJ - remove and use the region mixins

	/* sizes ----------------------------------------------- */
	.size1of1 {float:none}
	.size1of2 {width:50%}
	.size1of3 {width:33.333333%}
	.size2of3 {width:66.666666%}
	.size1of4 {width:25%}
	.size3of4 {width:75%}
	.size1of5 {width:20%}
	.size2of5 {width:40%}
	.size3of5 {width:60%}
	.size4of5 {width:80%}
	.size1of6 {width:16.666667%}
	.size5of6 {width:83.333333%}
	.size1of7 {width:14.285714%}
	.size1of8 {width:12.5%}
	.size3of8 {width:37.5%}
	.size5of8 {width:62.5%}
	.size7of8 {width:87.5%}
	.size-golden-long {width:61.803398%}
	.size-golden-short {width:38.196602%}

	/* ---- prefix ---- */
	.prefix1of2 {margin-left:50%}
	.prefix1of3 {margin-left:33.333333%}
	.prefix2of3 {margin-left:66.666666%}
	.prefix1of4 {margin-left:25%}
	.prefix3of4 {margin-left:75%}
	.prefix1of5 {margin-left:20%}
	.prefix2of5 {margin-left:40%}
	.prefix3of5 {margin-left:60%}
	.prefix4of5 {margin-left:80%}
	.prefix1of6 {margin-left:16.666667%}
	.prefix5of6 {margin-left:83.333333%}
	.prefix1of7 {margin-left:14.285714%}
	.prefix1of8 {margin-left:12.5%}
	.prefix3of8 {margin-left:37.5%}
	.prefix5of8 {margin-left:62.5%}
	.prefix7of8 {margin-left:87.5%}
	.prefix-golden-long {margin-left:61.803398%}
	.prefix-golden-short {margin-left:38.196602%}

	/* ---- suffix ---- */
	.suffix1of2 {margin-right:50%}
	.suffix1of3 {margin-right:33.333333%}
	.suffix2of3 {margin-right:66.666666%}
	.suffix1of4 {margin-right:25%}
	.suffix3of4 {margin-right:75%}
	.suffix1of5 {margin-right:20%}
	.suffix2of5 {margin-right:40%}
	.suffix3of5 {margin-right:60%}
	.suffix4of5 {margin-right:80%}
	.suffix1of6 {margin-right:16.666667%}
	.suffix5of6 {margin-right:83.333333%}
	.suffix1of7 {margin-right:14.285714%}
	.suffix1of8 {margin-right:12.5%}
	.suffix3of8 {margin-right:37.5%}
	.suffix5of8 {margin-right:62.5%}
	.suffix7of8 {margin-right:87.5%}
	.suffix-golden-long {margin-right:61.803398%}
	.suffix-golden-short {margin-right:38.196602%}

	/* ---- push ---- */
	.push1of2 {left:50%}
	.push1of3 {left:33.333333%}
	.push2of3 {left:66.666666%}
	.push1of4 {left:25%}
	.push3of4 {left:75%}
	.push1of5 {left:20%}
	.push2of5 {left:40%}
	.push3of5 {left:60%}
	.push4of5 {left:80%}
	.push1of6 {left:16.666667%}
	.push5of6 {left:83.333333%}
	.push1of7 {left:14.285714%}
	.push1of8 {left:12.5%}
	.push3of8 {left:37.5%}
	.push5of8 {left:62.5%}
	.push7of8 {left:87.5%}
	.push-golden-long {left:61.803398%}
	.push-golden-short {left:38.196602%}

	/* ---- pull ---- */
	.pull1of2 {left:-50%}
	.pull1of3 {left:-33.333333%}
	.pull2of3 {left:-66.666666%}
	.pull1of4 {left:-25%}
	.pull3of4 {left:-75%}
	.pull1of5 {left:-20%}
	.pull2of5 {left:-40%}
	.pull3of5 {left:-60%}
	.pull4of5 {left:-80%}
	.pull1of6 {left:-16.666667%}
	.pull5of6 {left:-83.333333%}
	.pull1of7 {left:-14.285714%}
	.pull1of8 {left:-12.5%}
	.pull3of8 {left:-37.5%}
	.pull5of8 {left:-62.5%}
	.pull7of8 {left:-87.5%}
	.pull-golden-long {left:-61.803398%}
	.pull-golden-short {left:-38.196602%}

	/* centered ----------------------------------------------- */
	.region-centered {
		float:none;
		margin:0 auto}
}