// fixed or fluid
$fixedWidth: false !default;

// grid
$maxWidth: 1176px;
$gutter: 32px;

// typography
$fontColor: #000;
$fontStack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontStackMono: "Courier New", Courier, monospace;
$fontSize: 1em; // 16px
$lineHeight: 24/16;

// media queries
$XXS: '(min-width: #{$fontSize * 15})';
$XS: '(min-width: #{$fontSize * 20})';
$S: '(min-width: #{$fontSize * 30})';
$M: '(min-width: #{$fontSize * 37.5})';
$L: '(min-width: #{$fontSize * 48.0625})';
$XL: '(min-width: #{$fontSize * 62})';
$High-DPI: '(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi), (min-resolution:1.5dppx)';