// fixed or fluid
$fixedWidth: false !default;

// grid
$maxWidth: 1176px;
$gutter: 32px;

// typography
$fontColor: #000;
$fontStack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontStackMono: "Courier New", Courier, monospace;
$fontSize: 1em; // 16px
$lineHeight: 24/16;

// media queries
// these values are also stored in frwd.js
$XXS: '(min-width:' + (240/16) + 'em)';
$XS: '(min-width:' + (300/16) + 'em)';
$S: '(min-width:' + (440/16) + 'em)';
$M: '(min-width:' + (600/16) + 'em)';
$L: '(min-width:' + (750/16) + 'em)';
$XL: '(min-width:' + (980/16) + 'em)';
$High-DPI: '(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi), (min-resolution:1.5dppx)';