@mixin region-size($fraction) {
	width: percentage($fraction);
}

// $reset = [blank], none, none-left, none-right
@mixin region-padding($value) {
	@if ($value == none) {
		padding: 0;
	} @else {
		padding: 0 $gutter/2;
	}

	@if ($value == none-left) {
		padding-left: 0;
	}

	@if ($value == none-right) {
		padding-right: 0;
	}
}

// $offset = none, prefix or suffix
@mixin region-offset($offset, $fraction) {
	@if ($offset == none) {
		margin-right: 0;
		margin-left: 0;
	}

	@if ($offset == prefix) {
		margin-left: percentage($fraction);
	}

	@if ($offset == suffix) {
		margin-right: percentage($fraction);
	}
}

// $order = none, push or pull
@mixin region-order($order, $fraction) {
	@if ($order == none) {
		position: static;
		left: auto;
	} @else {
		position: relative;
	}

	@if ($order == push) {
		left: percentage($fraction);
	}

	@if ($order == pull) {
		left: -(percentage($fraction));
	}
}