// fixed or fluid
$fixed-width: false !default;

// grid
$max-width: 1176px;
$gutter: 32px;

// typography
$font-color: #000;
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-mono: "Courier New", Courier, monospace;
$font-size: 1em; // 16px
$line-height: 24/16;