// fixed or fluid
$fixedWidth: false !default;

// grid
$maxWidth: 1176px;
$gutter: 32px;

// typography
$fontColor: #000;
$fontStack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontStackMono: "Courier New", Courier, monospace;
$fontSize: 1em; // 16px
$lineHeight: 24/16;