@import 'mixins/all';
@import 'variables/all';

/* Debug
---------------------------------------------------------------------------------------- //// */

%panel-design {
	border: 1px solid #000;
	border-radius: 7px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
	background: lighten(#000, 20);
	color: #fff;
	font: 13px Arial, sans-serif;
	letter-spacing: 0;
}

%panel-position {
	position: fixed;
	z-index: 999999;
	margin: 6px;
	padding: 5px;
}

%panel-inner {
	margin: 0;
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .2);
}

/* panel ----------------------------------------------- //// */
#debug-panel {
	@extend %panel-position;
	top: 50px;
	right: 1px;

	&.open {
		@extend %panel-design;
		top: 49px;
		right: 0;
	}

	/* button ----------------------------------------------- */
	button {
		margin: 0;
		padding: 0 .25em;
		width: auto;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		background: #fff;
		color: #000;
		font: 13px Arial, sans-serif;

		&:hover,
		&:focus {
			background-color: #eee;
		}
	}

	/* cog button ----------------------------------------------- */
	button.debug-cog {
		position: absolute;
		top: -50px;
		right: 0;

		margin: 0 0 10px;
		padding: 0;
		width: 42px;
		height: 42px;
		// image source: gemicon.net
		background: no-repeat 50% 50% url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABi0lEQVR42s2WQWcDQRTHlzIMSwihXyL0Gpa99jOUUko+TAjL0lMJOYVccypLCSWnUpZSehpy6imnnKb/w6vlmXmZSTORx4/wJv+fNbtvJjuiSrABltiA0lqbxXBMbYFlbM8hti5OIb4GLxQ4BzpWjBqAFfUWIBfFJG1ZaENyBe58Yupp0AfvrLfmcl6NK5SCfoCVoDXfnt5MEu+BTcSXJF4kFE8ksQZNAukcXDGxU956AvagBiVQRAlqYZvWnVQW98DOEWDADV/8F0Q9w/9HWb0Q8djzpEPAi4cNPU8+ZmI2e/3UwFmOwFrMotnezV6ZIkJcBOTBiR8BqAixCslMIc5DxSZg0ShCPArIMyC7DdjnKkJcHd5fOB31cK7PiZf2nETGIWfS/w2QPvgURmYFyqyrAlTCyGyBPiQesEP8VDRczmsFbCKeLvIisBSOtl3I1Uc4UqeSOAdvrkMc9MGjIL0HmnhlvSVQTOyUz8AHmJA09nqrwTO9qFOgLvhCL5dvtpv0YprtfPbGin8BAVrK2AjN8+8AAAAASUVORK5CYII=);
		text-indent: -9999px;
		opacity: .2;

		&:hover,
		&:focus {
			opacity: 1;
		}

		&:active {
			transform: translateY(1px);
		}
	}

	&.open button.debug-cog {
		opacity: 1;
	}

	/* panel options ----------------------------------------------- */
	ul {
		@extend %panel-inner;
		display: none;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}

	&.open ul {
		display: block;

		&:after,
		&:before {
			position: absolute;
			top: -6px;
			right: 14px;
			border-right: 7px solid transparent;
			border-bottom: 7px solid lighten(#000, 20);
			border-left: 7px solid transparent;
			content: '';
		}

		&:before {
			top: -7px;
			border-bottom-color: #000;
		}
	}

	li {
		position: relative;
		margin: 0;
		padding: 0;
		background: none;

		.generatedcontent & {
			overflow: hidden;
		}
	}

	button[data-option] {
		padding: .75em 1em;
		padding-left: 2.5em;
		border-top: 1px solid lighten(#000, 50);
		width: 100%;
		font-weight: normal;
		text-align: left;

		&.on:before {
			position: absolute;
			top: 50%;
			left: 9px;
			margin: -6px 0 0;
			width: 14px;
			height: 12px;
			background: no-repeat 50% 50% url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALBJREFUeNpi+P//PwMxGAjsgXg9ELOA+URqUgDit0AM4uwFaSZGkwQQP4FqguGtTAxQwMjI6MCABoBi/EDqIBBLo0kdhJmaDTWpBckmDiA+jWYTCOdC5eGaYDgOKrEXi6Z6JIMZdqFJ/gHiE1g09aP5nYEXiI9hUYiMF2AEGlQ3DxBfxqFpPdbQRrJaBIjvo2naizOa0NwtA8QvoJpAIcpMlEaoZhMg3gDyO76EARBgALtxHx+4cvGfAAAAAElFTkSuQmCC);
			content: '';
		}
	}

	li:first-child button[data-option] {
		border-top: 0;
	}
}

/* position button ----------------------------------------------- */
#debug-panel .position {
	display: none;
	position: absolute;
	top: 50%;
	left: 8px;
	overflow: hidden;
	margin: -8px 0 0;
	width: 16px;
	height: 16px;
	border: 2px solid #000;
	background: #000;
	text-indent: -999px;

	&:hover,
	&:focus {
		border-color: #444;
		background: #444;
	}

	&:after {
		position: absolute;
		width: 0;
		height: 0;
		content: '⇲';
	}

	$arrowColor: #fff;
	$arrowSize: 6px;

	&[data-position="1"]:after {
		top: 0;
		left: 0;
		border-top: $arrowSize solid $arrowColor;
		border-right: $arrowSize solid transparent;
		border-left: 0 solid transparent;
	}

	&[data-position="2"]:after {
		top: 0;
		right: 0;
		border-top: $arrowSize solid $arrowColor;
		border-right: 0 solid transparent;
		border-left: $arrowSize solid transparent;
	}

	&[data-position="3"]:after {
		right: 0;
		bottom: 0;
		border-right: 0 solid transparent;
		border-bottom: $arrowSize solid $arrowColor;
		border-left: $arrowSize solid transparent;
	}

	&[data-position="4"]:after {
		bottom: 0;
		left: 0;
		border-right: $arrowSize solid transparent;
		border-bottom: $arrowSize solid $arrowColor;
		border-left: 0 solid transparent;
	}
}

#debug-panel .on + .position {
	display: block;
}

/* baseline ----------------------------------------------- //// */
#debug-baseline {
	position: absolute;
	z-index: 999997;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;

	li {
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #cceffd;
		border-color: rgba(0, 177, 247, .2);
	}
}

/* boxes ----------------------------------------------- //// */
.debug-box {
	position: relative;
	background-color: #ff904b;
	background-color: rgba(255, 100, 0, .7);

	.debug-number {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -1em 0 0 -1em;
		border-radius: 100%;
		width: 2em;
		height: 2em;
		background: rgba(255, 100, 0, .7);
		color: #fff;
		font: bold 24px/2 Arial, sans-serif;
		text-align: center;
	}
}

/* grid ----------------------------------------------- //// */
#debug-grid {
	position: fixed;
	z-index: 999997;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;

	.fields,
	.region {
		height: 100%;
		background: transparent;
	}

	.region {
		@include media($XXS) {
			width: percentage(1/2);
		}

		@include media($M) {
			width: percentage(1/4);
		}

		@include media($L) {
			width: percentage(1/6);
		}
	}

	.region:before {
		display: block;
		height: 100%;
		border: 1px solid #feccea;
		border-color: rgba(250, 0, 150, .2);
		border-width: 0 1px;
		background: rgba(255, 0, 0, .01);
		content: '';
	}
}

/* viewport size ----------------------------------------------- //// */
#debug-viewport-size {
	@extend %panel-design;
	position: fixed;
	z-index: 1;
	top: 7px;
	left: 7px;
	padding: 2px 7px;
}

/* viewport summary ----------------------------------------------- //// */
#debug-viewport-summary {
	@extend %panel-design;
	@extend %panel-position;
	z-index: 999998;
	text-align: left;
	cursor:    -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor:         zoom-out;

	&.position1 {
		top: 0;
		left: 0;
		max-width: 22em;
	}

	&.position2 {
		top: 0;
		right: 50px;
	}

	&.position3 {
		right: 0;
		bottom: 0;
	}

	&.position4 {
		bottom: 0;
		left: 0;
	}

	table {
		@extend %panel-inner;
		border-collapse: inherit;
	}

	tr {
		display: none;
		margin: 0;
		padding: .5em .75em;
		background: none;

		&:frst-child {
			background: orange;
		}

		&.true {
			display: table-row;
		}
	}

	th,
	td {
		padding: .5em .6em;
		border-top: 1px solid #000;
		font-weight: normal;
	}

	.XXS th,
	.XXS td {
		border-top: 0;
	}

	tr.none {
		@include media($XXS) {
			display: none;
		}

		th {
			display: none;
		}
	}

	&.minimized {
		text-align: center;
		cursor:    -moz-zoom-in;
		cursor: -webkit-zoom-in;
		cursor:         zoom-in;

		span,
		td {
			display: none;
		}

		th {
			text-align: center;
		}

		tr.none th {
			display: block;
		}
	}
}

/* visualize ----------------------------------------------- //// */
.debug-visualize {
	position: fixed;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 4px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAAHElEQVR4AWMAggYoRAINmCwmBqyggUhBmEU0BwA4zwUDwQdCZAAAAABJRU5ErkJggg==) repeat-x -1px -1px;

	@include media($min-dppx-1-5) {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAKUlEQVQ4y2NgQIAGAphkQDUDidVAtMGjBlIORqCBuBL24DNwFIyCgQIABS8YAbfNPewAAAAASUVORK5CYII=);
		background-size: 10px 10px;
	}

	li {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		height: 100%;
		text-align: center;

		&:before {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 100%;
			margin: 0 0 0 -1px;
			width: 1px;
			height: 12px;
			background: #000;
			content: '';
		}
	}

	span {
		position: relative;
		z-index: 1;
		top: 5px;
		left: 50%;
		padding: 2px;
		color: #000;
		font: 11px/1 Arial, sans-serif;
	}
}

// height
.debug-visualize-height {
	width: 4px;
	height: 100%;
	background-repeat: repeat-y;

	li {
		width: 100%;

		&:before {
			top: 100%;
			left: 0;
			margin: -1px 0 0;
			width: 12px;
			height: 1px;
		}
	}

	span {
		top: 100%;
		float: left;
		left: 14px;
		margin: -8px 0 0;
	}
}