@import 'mixins/all';
@import 'demos/all';

/* Slider
---------------------------------------------------------------------------------------- //// */
.slider {
	overflow: hidden;
	margin: 0 0 1.5em;

	.js & {
		margin: 0;
	}

	> ol {
		overflow: hidden;
		margin: 0;
		list-style: none;

		> li {
			margin: 0;
			background: #fff;

			.js & {
				display: none;
				position: relative;
				float: left;
			}

			> p {
				padding: 1.5em 1.5em 0;
			}
		}

		// slide colors
		> li {
			background: lighten($blue, 10);
			+ li {
				background: lighten($blue, 20);
				+ li {
					background: lighten($blue, 30);
					+ li {
						background: lighten($green, 30);
						+ li {
							background: lighten($green, 20);
							+ li {
								background: lighten($green, 10);
								+ li {
									background: $green;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* slider nav ----------------------------------------------- //// */
.slider-nav {
	position: relative;
	float: left;
	margin: 0 0 1.5em;
	padding: 1.5em 0;
	width: 100%;
	background: $grey;

	@include media($M) {
		padding: 1em 0;
	}

	button {
		display: block;
		margin: 0;
		border: 0;
		font-weight: 400;
	}
}

button.slider-prev,
button.slider-next {
	position: absolute;
	top: 50%;
	overflow: hidden;
	margin: -20px 0 0;
	padding: 1em 1.2em;
	background: transparent no-repeat 50% 50%;
	font-size: 12px; /* TODO - CJ - use ems */
	text-indent: -9999px;

	&:focus {
		background-color: lighten($grey, 30);
	}

	&:active {
		@include transform(translateY(1px));
	}
}

button.slider-prev {
	left: 12px;
	// image source: gemicon.net
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAYAAACJfM0wAAAAVklEQVR42rXTMQoAMAxC0Zy80JNbOmUQQot8QdzeZkl66br701dUATyiOexoDjuaw47msKN5KFQUKgZteCMwhReFF4XXhBOX3gDcOAE7nsOOA3Djv/ABoUnmYHIImIcAAAAASUVORK5CYII=);
}

button.slider-next {
	right: 12px;
	// image source: gemicon.net
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAYAAACJfM0wAAAAWElEQVR42rXUMQoAMAgEwbxc2JebIsW1ClkhnUxhuDvdvX012dvDb0qBgwtwcAEO/gme4Kf/TQlwcAEOHljALRgDxjgFxudhBAQjeRiRxighjNrEKHomexcH/+ZgVSouxgAAAABJRU5ErkJggg==);
}

.slider-nav {
	.disabled {
		@include box-shadow(none);
		opacity: .25;
		cursor: default;
	}

	ol {
		position: relative;
		top: 0;
		left: 50%;
		float: left;
		margin: 0;
		list-style: none;
	}

	li {
		position: relative;
		right: 50%;
		float: left;
		margin: 0 5px;

		button {
			overflow: hidden;
			padding: 0;
			width: 10px;
			height: 10px;
			@include border-radius(100%);
			background: lighten($grey, 20);
			text-indent: -9999px;

			@include media($M) {
				padding: .25em .5em;
				width: auto;
				height: auto;
				@include border-radius(3px);
				text-indent: 0;
			}

			&:focus {
				background: lighten($grey, 50);
			}

			&:active {
				@include transform(translateY(1px));
			}
		}
	}

	.selected button,
	.selected button:focus {
		background: #fff;
	}
}